
.nav-links{
    text-align: right;
    background: #ff1616;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}